/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), 
  url('../fonts/fontawesome-webfont.woff2') format('woff2'), 
  url('../fonts/fontawesome-webfont.woff') format('woff'), 
  url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

/* Reset all things */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  background: transparent;
}

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}


body {
  font-family: 'Open Sans', sans-serif;
  color: #4f4f4d;
  line-height: 1.5;
  background: #fff;
  word-wrap: break-word;
}

body {
  color: #595959;
}

div {
  display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main,
summary {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #005ead;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
}

i:before,
a.link_list:before,
.link_list a:before,
.i-font:before {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  font-family: FontAwesome;
  display: inline-block;
  text-rendering: auto;
  text-align: center;
  font-size: 20px;
}

input,
select {
  vertical-align: middle;
}

/* Common attributes for essential elements */
.btn,
.nav_block .nav_list .nav_item .nav-trigger,
.nav_block .nav_list .nav_item .nav-trigger:before {
  background: #E5544F;
}

.btn,
.nav_block .nav_list .nav_item .nav-trigger,
.nav_block .nav_list .nav_item .nav-trigger:before {
  -webkit-transition: background .3s, border .3s;
  -moz-transition: background .3s, border .3s;
  -ms-transition: background .3s, border .3s;
  -o-transition: background .3s, border .3s;
  transition: background .3s, border .3s;
}

/* This behavior is applied for all items in mobile mode */
.contentOnMB {
  display: none;
}

/* Main navigation area */
.mainNavArea_mb__head {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
}

.mainNavArea_mb__head {
  position: relative;
  height: 60px;
  background-color: #2d3538;
  color: #fff;
  z-index: 999;
  width: 100%;
}

.mainNavArea_mb__head .logoImg {
  width: 220px;
}

.mainNavArea_mb_wp {
  position: absolute;
  display: none;
  width: 100%;
}

.mainNavArea_mb {
  position: absolute;
  color: #2d3538;
  border-bottom: 1px solid #999;
  top: 0;
  left: 0;
  z-index: 500;
}

.mainNavArea_mb a {
  color: #2d3538;
}

/* Setting up for search page */
.search-page_wp {
  left: 0;
  top: 0;
  text-align: center;
  width: 90%;
  background-color: #fff;
  padding: 20px 5%;
  border-bottom: 1px solid #2d3538;
}

/* Setting up for payments: visa paypal */
.mainNavArea_mb__payArea {
  width: 100%;
  text-align: center;
  padding: 15px 0 12px;
  background-color: #fff;
  /*
  To avoid overlapping
  border-bottom: 1px solid;
  */
}

.mainNavArea_mb__payArea__pay_item {
  display: inline-block;
  margin-right: 18%;
}

.mainNavArea_mb__payArea__pay_item span {
  display: block;
  font-size: 11px;
}

.mainNavArea_mb__payArea__pay_item .checkoutitems {
  background: #f30600;
  color: #fff;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  text-align: center; 
  margin-left: 3px;
}

/* Main link in mobile mode */
.mainLinkList span {
  display: block;
  height: 75px;
  position: relative;
  display: -webkit-box;
  -webkit-box-align: center;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #999;
  font-size: 18px;
  position: relative;
  padding: 0 6% 0 3%;
  width: 91%;
}

.mainLinkList span a {
  width: 94%;
  display: -webkit-box;
  -webkit-box-align: center;
  padding: 0 6%;
  position: relative;
}

.mainLinkList span.active {
  background-color: greenyellow;
}

.mainLinkList {
  font-size: 18px;
  background-color: #fff;
}

.mainLinkList span {
  display: block;
  height: 75px;
  position: relative;
  display: -webkit-box;
  -webkit-box-align: center;
  padding: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #999;
  font-size: 18px;
  position: relative;
}

.mainLinkList span {
  display: block;
  height: 75px;
  position: relative;
  display: -webkit-box;
  -webkit-box-align: center;
  padding: 0 6% 0 3%;
  width: 91%;
}

.mainLinkList span a {
  width: 94%;
  display: -webkit-box;
  -webkit-box-align: center;
  padding: 0 6%;
  position: relative;
}

.mainLinkList ul {
  display: none;
}

.mainLinkList div:hover ul {
  display: block;
}

.mainLinkList li {
  width: 100%;
  height: 70px;
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #999;
  font-size: 18px;
  position: relative;
}

.mainLinkList li {
  width: 100%;
  height: 70px;
  position: relative;
  display: block;
}

/* Setting up for mobile menu */
.mbMenu .normalLink {
  width: 100%;
  padding: 0;
}

.mbMenu .normalLink-active {
  background-color: greenyellow;
}

.mbMenu .normalLink a {
  width: 94%;
  padding: 0 3%;
}

.mbMenu .normalLink a {
  width: 88%;
  padding: 0 6%;
}

.mbMenu .normalLink i {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.thecontainer {
  position: relative;
  overflow: hidden;
}

/* Common values for header and footer */
.themeheader,
.themefooter {
  background: #FFF;
  position: relative;
}

.themeheader {
  background: #2D3538;
}

.themeheader,
.themefooter,
.themeheader a,
.themefooter a {
  color: #6A7274;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}

.themeheader .inner,
.themefooter .inner {
  width: 1200px;
  margin: 0 auto;
  padding: 5px 0;
  position: relative;
}

.themeheader .inner {
  background: #2D3538;
}

.floatRight {
  float: right;
}

/* Setting up for mobile search page */
.search-page,
.search-page form {
  position: relative;
  display: inline-block;
  color: #2D3538;
  line-height: 1;
}

.search-page,
.search-page form,
.search-page .text-search {
  border-radius: 15px;
  outline: none;
}

.themeheader .search-page {
  float: right;
}

.search-page .text-search {
  width: 200px;
  background-image: none !important;
  background-color: #e0e0e0;
  border: none;
  padding: 5px 30px 5px 10px;
  border: 1px solid #999999;
}

.search-page .btn-search {
  position: absolute;
  top: 0;
  right: 10px;
  font-family: FontAwesome;
  padding: 5px 0px;
  margin: 0;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  font-size: 15px;
}

/* payment list */

.pay-list {
  display: inline-block;
  margin: 0 20px;
}

.themeheader .pay-list {
  float: right;
}

.pay-list li {
  float: left;
  margin: 0 0 0 15px;
}

.pay-list a {
  line-height: 1;
  display: block;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -ms-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.pay-list a i:before {
  font-size: 25px;
  width: 30px;
}

.pay-list a:hover {
  color: #E5544F;
}

.pay-list a span {
  display: none;
}

.themefooter .pay-list {
  position: absolute;
  right: 5px;
  top: 5px;
  margin: 0;
}

/* Font Awesome presets */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-visa:before {
  content: "\f1f0";
}

.fa-paypal:before {
  content: "\f1f4";
}

.fa-bitcoin:before {
  content: "\f15a";
}

.fa-cart:before {
  content: "\f07a";
  color: red;
}

.fa-creditcard:before {
  content: "\f09d";
}

.fa-userreg:before {
  content: "\f234";
}

.fa-usersignin:before {
  content: "\f090";
}

.fa-usersignout:before {
  content: "\f08b";
}

.fa-userprofile:before {
  content: "\f007";
}

.fa-next:before {
  content: "\f054";
}

/* themefooter */

.themefooter {
  padding: 25px 0 30px;
  font-size: 12px;
  text-align: center;
  z-index: 400;
}

.themefooter .logo,
.themefooter .logo img {
  width: 220px;
  display: block;
}

.themefooter .logo {
  position: absolute;
  left: 5px;
  top: 0;
}

.themefooter .footer-nav {
  display: inline-block;
  margin: 0 0 30px;
}

.themefooter .footer-nav li {
  float: left;
  display: inline-block;
  position: relative;
  margin: 0 15px 0 0;
}

.themefooter .footer-nav li:before {
  content: '|';
  position: absolute;
  right: -10px;
}

.themefooter .footer-nav li:last-child:before,
.themefooter .footer-nav li:last-child {
  margin: 0;
  content: '';
}

.nav_principalBar .clearfix:after,
.themeheader .clearfix:after,
.themefooter .clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}

.content {
  position: relative;
  margin: 0 auto;
}

.nav_block_sub {
  width: 1200px;
  margin: 0 auto;
  height: 60px;
}

/* Navigation top attributes */
.nav_principalBar {
  position: relative;
  background: #FFF;
  height: 58px;
  color: #6A7274;
  line-height: 1.5;
  font-size: 16px;
  width: 1200px;
}

.nav_principalBar .logo {
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
}

.nav_principalBar .logo img {
  width: 260px;
}

.mt10 {
  margin-top: 10px;
}

.nav_block_sub h1 {
  display: inline-block;
}

.nav_principalBar .nav_block {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  left: auto;
}

.nav_principalBar .nav_block .nav_list {
  margin: 0;
  float: right;
}

.nav_principalBar .clearfix:after,
.themeheader .clearfix:after,
.themefooter .clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}

.nav_block .nav_list .nav_item {
  width: 275px;
  margin: 0 32px 0 0;
  float: left;
}

.nav_principalBar .nav_block .nav_list .nav_item {
  width: 165px;
  margin: 0 0 0 10px;
}

/* Navigation block attributes */
.nav_block .nav_list .nav_item .nav-target {
  position: absolute;
  display: none;
  z-index: 11;
  top: 47px;
}

.nav_block .nav_list .nav_item .nav-target > ul,
.nav_block .nav_list .nav_item .nav-target > ul > li {
  background: #FFF;
}

.nav_block .nav_list .nav_item .nav-target > ul {
  width: 0;
  border: 1px solid #E7E8E3;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1);
}

.nav_block .nav_list .nav_item .nav-target > ul,
.nav_block .nav_list .nav_item .nav-target > ul > li {
  background: #FFF;
}

.nav_block .nav_list .nav_item .nav-target > ul > li {
  padding: 15px 0px 1px 15px;
  float: left;
}

.nav_block .nav_list .nav_item .nav-target > ul > li:last-child {
  padding-right: 20px;
}

.nav_block .nav_list .nav_item .nav-target .list-1col {
  width: 235px;
}

.nav_block .nav_list .nav_item .nav-target > ul > li > .title {
  font-weight: bold;
  color: #F05C57;
  margin: 0 0 5px;
  display: block;
}

.nav_block .nav_list .nav_item .nav-target .bnr-list li {
  margin: 0 0 10px;
}

.nav_block .nav_list .nav_item .nav-trigger,
.nav_block .nav_list .nav_item .nav-trigger:before {
  background: #E5544F;
}

.nav_block .nav_list .nav_item .nav-trigger,
.nav_block .nav_list .nav_item .nav-trigger:before {
  -webkit-transition: background .3s, border .3s;
  -moz-transition: background .3s, border .3s;
  -ms-transition: background .3s, border .3s;
  -o-transition: background .3s, border .3s;
  transition: background .3s, border .3s;
}

.nav_block .nav_list .nav_item .nav-trigger {
  color: #FFF;
  text-align: center;
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  position: relative;
}

.btn:hover,
.nav_block .nav_list .nav_item:hover .nav-trigger,
.nav_block .nav_list .nav_item:hover .nav-trigger:before {
  background: #3b8097;
  border-color: #163438;
}

.nav_block .nav_list .nav_item:hover .nav-trigger,
.nav_block .nav_list .nav_item:hover .nav-trigger:before {
  background: #3b8097;
  border-color: #163438;
}

.nav_block .nav_list .nav_item:hover .nav-target {
  display: block;
  width: 300px;
}

.nav_block .nav_list .nav_item .link_list {
  padding-bottom: 15px;
}

.nav_block .nav_list .nav_item .nav-target .link_list > li {
  float: left;
  width: 185px;
  margin: 0 5px 5px 0;
}

.nav_block .nav_list .nav_item .nav-target .list-1col .link_list > li {
  width: 100%;
  margin: 0 0 3px;
}

.nav_block .nav_list .nav_item a.link_list,
.nav_block .nav_list .nav_item .link_list a {
  line-height: 1.3em;
}

.nav_principalBar .nav_block .nav_list .nav_item .nav-trigger {
  height: 56px;
  color: inherit;
  border-bottom: 4px #b72c2c solid;
  font-size: 18px;
  background: #fff;
}

.nav_principalBar .nav_block .nav_list .nav_item .nav-trigger-active {
  border-bottom: 4px #2cb72c solid;
}

.nav_principalBar .nav_block .nav_list .nav_item:hover .nav-trigger {
  background: #3b8097;
  color: #FFF;
  border-color: #163438;
  border-bottom: 4px #3b8097 solid;
}

/* The main image area */
.mainImg_area {
  position: relative;
  height: 500px;
}

.mainImg_area__imgBox {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* What happens when user come to mobile mode ? */
@media screen and (max-width:767px) {
  body {
    width: 100%;
    min-width: auto;
    font-family: 'Open Sans', sans-serif;
    color: #4f4f4d;
    line-height: 1.5;
    background: #fff;
    word-wrap: break-word;
    font-size: 16px;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  footer {
    text-align: center;
    padding: 30px 0 60px 0;
    background: #DDD;
  }

  footer a {
    color: inherit;
    text-decoration: underline;
  }

  .contentOnPC {
    display: none;
  }


  .contentOnMB {
    display: block;
    width: 100%;
  }

  .themeheader .inner,
  .themefooter .inner {
    width: 100%;
  }
  .themefooter .logo {
    position: relative;
    display: block;
    margin: 0 auto;
  }
  .themeheader .inner,
  .themefooter .inner,
  .themefooter .pay-list {
    position: relative;
    display: block;
  }

  .themefooter .pay-list {
    margin: 30px auto 0;
    width: 150px;
  }
  .themefooter .footer-nav {
    width: 195px;
    margin: 30px auto;
    text-align: center;
  }
  .themefooter .footer-nav li {
    float: none;
  }

  .themefooter .footer-nav li:nth-child(even) {}

  .themefooter .footer-nav li:nth-child(even):before {
    content: '';
  }

}